@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Pretendard', sans-serif;
  color: #222222;
  background-color: #EEEEEE90;
}